In [1]:
from pymongo import MongoClient
import pandas as pd

def query_to_dataframe(query):
    '''
    custom function to create a dataframe of query results
    from the weather_data
    '''
    
    client = MongoClient(host="localhost", port=27017)
    weather_data = client.pitds_weather_data.weather_data
    
    entries = []
    for entry in weather_data.find(query):
        entries.append(entry)
      
    if len(entries)==0: # no hits for the query
        return None
    else:
        return pd.DataFrame(entries).drop(columns=["_id","index"])

- will start by explloring recent data. 2019 data is considered provisional and is only available for 4 months
- 2018 data is chosen instead

In [62]:
w_2018 = query_to_dataframe({"year":2018})

In [63]:
w_2018

,af_days,month,rain_mm,station_name,sun_hours,tmax_degC,tmin_degC,year
0,0.0,1.0,117.2,aberporth,53.5,8.4,3.8,2018.0
1,10.0,2.0,48.6,aberporth,91.3,6.3,1.3,2018.0
2,6.0,3.0,97.0,aberporth,100.6,7.7,2.3,2018.0
3,0.0,4.0,70.6,aberporth,152.2,12.1,6.4,2018.0
4,0.0,5.0,33.4,aberporth,219.4,15.3,8.1,2018.0
5,0.0,6.0,10.2,aberporth,270.2,19.1,12.4,2018.0
6,0.0,7.0,58.6,aberporth,244.8,20.3,13.4,2018.0
7,0.0,8.0,63.8,aberporth,123.5,18.5,12.6,2018.0
8,0.0,9.0,94.0,aberporth,132.5,16.0,10.8,2018.0
9,0.0,10.0,131.6,aberporth,107.7,13.5,8.5,2018.0
10,0.0,11.0,154.0,aberporth,81.8,10.9,6.3,2018.0
11,0.0,12.0,125.2,aberporth,11.3,9.9,6.3,2018.0
12,6.0,1.0,127.1,armagh,51.1,7.2,1.8,2018.0
13,11.0,2.0,61.6,armagh,96.6,7.1,0.2,2018.0
14,9.0,3.0,66.3,armagh,79.4,8.2,1.4,2018.0
15,2.0,4.0,75.6,armagh,129.2,12.8,5.0,2018.0
16,0.0,5.0,32.8,armagh,202.5,17.9,7.9,2018.0
17,0.0,6.0,28.2,armagh,250.0,21.4,10.2,2018.0
18,0.0,7.0,58.4,armagh,173.2,21.7,11.9,2018.0
19,0.0,8.0,83.1,armagh,99.8,19.3,11.0,2018.0
20,0.0,9.0,33.4,armagh,104.6,16.1,8.2,2018.0
21,2.0,10.0,37.6,armagh,98.9,13.0,6.3,2018.0
22,2.0,11.0,116.0,armagh,60.4,10.1,4.3,2018.0
23,1.0,12.0,89.4,armagh,24.0,9.0,4.2,2018.0
24,6.0,1.0,198.2,ballypatrick,1000.0,6.4,1.9,2018.0
25,9.0,2.0,80.6,ballypatrick,1000.0,5.5,0.8,2018.0
26,7.0,3.0,110.6,ballypatrick,1000.0,6.3,1.3,2018.0
27,3.0,4.0,73.6,ballypatrick,1000.0,10.6,4.5,2018.0
28,0.0,5.0,53.8,ballypatrick,1000.0,16.0,7.3,2018.0
29,0.0,6.0,49.0,ballypatrick,1000.0,18.0,9.3,2018.0
...,...,...,...,...,...,...,...,...
378,0.0,7.0,34.1,whitby,225.1,22.3,13.3,2018.0
379,0.0,8.0,19.8,whitby,161.4,21.4,12.7,2018.0
380,0.0,9.0,47.6,whitby,173.8,18.4,9.6,2018.0
381,0.0,10.0,57.6,whitby,129.3,14.9,7.3,2018.0
382,1.0,11.0,74.7,whitby,79.8,11.0,6.2,2018.0
383,5.0,12.0,55.6,whitby,61.5,8.7,3.5,2018.0
384,12.0,1.0,56.4,wickairport,1000.0,5.5,1.0,2018.0
385,9.0,2.0,34.1,wickairport,1000.0,5.5,0.5,2018.0
386,6.0,3.0,67.0,wickairport,1000.0,6.1,1.3,2018.0
387,4.0,4.0,39.2,wickairport,1000.0,10.2,3.8,2018.0
388,0.0,5.0,32.8,wickairport,1000.0,13.6,6.8,2018.0
389,0.0,6.0,17.8,wickairport,1000.0,15.3,8.8,2018.0
390,0.0,7.0,35.9,wickairport,1000.0,18.6,11.3,2018.0
391,0.0,8.0,44.2,wickairport,1000.0,16.6,9.9,2018.0
392,0.0,9.0,86.6,wickairport,1000.0,14.5,8.0,2018.0
393,1.0,10.0,94.8,wickairport,1000.0,11.9,6.2,2018.0
394,0.0,11.0,53.0,wickairport,1000.0,10.1,6.3,2018.0
395,5.0,12.0,32.8,wickairport,1000.0,7.7,3.1,2018.0
396,6.0,1.0,69.2,yeovilton,55.1,10.2,2.8,2018.0
397,15.0,2.0,28.4,yeovilton,129.3,7.3,-0.1,2018.0
398,9.0,3.0,121.4,yeovilton,82.6,9.3,2.1,2018.0
399,0.0,4.0,58.4,yeovilton,99.1,14.2,7.2,2018.0
400,0.0,5.0,45.4,yeovilton,221.6,19.0,7.4,2018.0
401,0.0,6.0,5.6,yeovilton,248.3,22.8,11.6,2018.0
402,0.0,7.0,13.8,yeovilton,242.3,25.9,13.5,2018.0
403,0.0,8.0,53.8,yeovilton,138.5,22.7,12.8,2018.0
404,0.0,9.0,36.4,yeovilton,149.0,19.6,9.4,2018.0
405,4.0,10.0,51.8,yeovilton,132.8,15.4,6.2,2018.0
406,4.0,11.0,102.6,yeovilton,73.8,12.1,5.3,2018.0
407,2.0,12.0,94.2,yeovilton,27.2,11.0,5.3,2018.0

In [4]:
w_2018.sun_hours.astype("category")
w_2018.describe()

,af_days,month,rain_mm,sun_hours,tmax_degC,tmin_degC,year
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.0
mean,3.117647,6.500000,71.483333,388.166667,13.777941,6.622059,2018.0
std,4.790027,3.456291,44.772683,400.370813,5.696825,4.204140,0.0
min,0.000000,1.000000,0.400000,11.300000,3.300000,-2.500000,2018.0
25%,0.000000,3.750000,40.625000,89.025000,8.800000,3.000000,2018.0
50%,0.000000,6.500000,62.900000,173.050000,13.300000,6.500000,2018.0
75%,5.000000,9.250000,88.150000,1000.000000,18.500000,9.900000,2018.0
max,24.000000,12.000000,262.800000,1000.000000,28.300000,16.400000,2018.0

- sun_hours contains missing values. Explore futher to identify the stations and months with missing values
- data from other features seem to be within the expected range, with no missing values

In [5]:
w_2018[w_2018.sun_hours==1000]

,af_days,month,rain_mm,station_name,sun_hours,tmax_degC,tmin_degC,year
24,6.0,1.0,198.2,ballypatrick,1000.0,6.4,1.9,2018.0
25,9.0,2.0,80.6,ballypatrick,1000.0,5.5,0.8,2018.0
26,7.0,3.0,110.6,ballypatrick,1000.0,6.3,1.3,2018.0
27,3.0,4.0,73.6,ballypatrick,1000.0,10.6,4.5,2018.0
28,0.0,5.0,53.8,ballypatrick,1000.0,16.0,7.3,2018.0
29,0.0,6.0,49.0,ballypatrick,1000.0,18.0,9.3,2018.0
30,0.0,7.0,78.6,ballypatrick,1000.0,17.9,11.3,2018.0
31,0.0,8.0,125.6,ballypatrick,1000.0,16.5,10.6,2018.0
32,0.0,9.0,80.0,ballypatrick,1000.0,14.5,8.5,2018.0
33,1.0,10.0,95.4,ballypatrick,1000.0,11.9,6.7,2018.0
34,0.0,11.0,149.8,ballypatrick,1000.0,9.8,5.5,2018.0
35,0.0,12.0,150.8,ballypatrick,1000.0,8.7,4.5,2018.0
48,19.0,1.0,64.0,braemar,1000.0,3.9,-1.8,2018.0
49,24.0,2.0,43.0,braemar,1000.0,3.3,-2.5,2018.0
50,24.0,3.0,75.4,braemar,1000.0,4.0,-2.2,2018.0
51,14.0,4.0,46.0,braemar,1000.0,10.0,1.4,2018.0
52,5.0,5.0,34.4,braemar,1000.0,16.9,4.0,2018.0
53,0.0,6.0,49.4,braemar,1000.0,19.6,7.8,2018.0
54,0.0,7.0,63.8,braemar,1000.0,20.9,9.8,2018.0
55,1.0,8.0,56.4,braemar,1000.0,17.0,7.9,2018.0
56,3.0,9.0,83.2,braemar,1000.0,14.0,6.0,2018.0
57,10.0,10.0,84.0,braemar,1000.0,11.4,3.0,2018.0
58,8.0,11.0,191.9,braemar,1000.0,7.3,1.8,2018.0
59,13.0,12.0,64.2,braemar,1000.0,6.2,-0.3,2018.0
72,7.0,1.0,47.4,cambridge,1000.0,8.5,2.4,2018.0
73,17.0,2.0,32.0,cambridge,1000.0,5.9,-0.3,2018.0
74,6.0,3.0,64.2,cambridge,1000.0,8.7,1.9,2018.0
75,0.0,4.0,64.6,cambridge,1000.0,14.2,6.6,2018.0
76,0.0,5.0,43.8,cambridge,1000.0,19.1,7.6,2018.0
77,0.0,6.0,0.8,cambridge,1000.0,22.0,10.7,2018.0
...,...,...,...,...,...,...,...,...
246,0.0,7.0,53.4,newtonrigg,1000.0,22.5,10.8,2018.0
247,0.0,8.0,84.0,newtonrigg,1000.0,18.7,11.3,2018.0
248,0.0,9.0,94.6,newtonrigg,1000.0,15.8,7.8,2018.0
249,6.0,10.0,106.8,newtonrigg,1000.0,13.1,5.0,2018.0
250,5.0,11.0,126.0,newtonrigg,1000.0,10.0,4.2,2018.0
251,6.0,12.0,76.4,newtonrigg,1000.0,8.1,2.3,2018.0
324,5.0,1.0,51.2,suttonbonington,1000.0,8.1,2.9,2018.0
325,12.0,2.0,26.8,suttonbonington,1000.0,5.8,0.2,2018.0
326,10.0,3.0,80.6,suttonbonington,1000.0,8.3,1.7,2018.0
327,0.0,4.0,85.8,suttonbonington,1000.0,13.6,6.5,2018.0
328,0.0,5.0,48.4,suttonbonington,1000.0,19.2,8.1,2018.0
329,0.0,6.0,2.4,suttonbonington,1000.0,21.9,10.9,2018.0
330,0.0,7.0,21.0,suttonbonington,1000.0,26.2,12.9,2018.0
331,0.0,8.0,51.6,suttonbonington,1000.0,22.3,12.6,2018.0
332,0.0,9.0,27.4,suttonbonington,1000.0,18.9,9.9,2018.0
333,2.0,10.0,35.8,suttonbonington,1000.0,15.0,7.2,2018.0
334,1.0,11.0,30.2,suttonbonington,1000.0,11.2,5.8,2018.0
335,4.0,12.0,75.0,suttonbonington,1000.0,9.5,4.3,2018.0
384,12.0,1.0,56.4,wickairport,1000.0,5.5,1.0,2018.0
385,9.0,2.0,34.1,wickairport,1000.0,5.5,0.5,2018.0
386,6.0,3.0,67.0,wickairport,1000.0,6.1,1.3,2018.0
387,4.0,4.0,39.2,wickairport,1000.0,10.2,3.8,2018.0
388,0.0,5.0,32.8,wickairport,1000.0,13.6,6.8,2018.0
389,0.0,6.0,17.8,wickairport,1000.0,15.3,8.8,2018.0
390,0.0,7.0,35.9,wickairport,1000.0,18.6,11.3,2018.0
391,0.0,8.0,44.2,wickairport,1000.0,16.6,9.9,2018.0
392,0.0,9.0,86.6,wickairport,1000.0,14.5,8.0,2018.0
393,1.0,10.0,94.8,wickairport,1000.0,11.9,6.2,2018.0
394,0.0,11.0,53.0,wickairport,1000.0,10.1,6.3,2018.0
395,5.0,12.0,32.8,wickairport,1000.0,7.7,3.1,2018.0

In [6]:
# stations missing sun-hours data
w_2018[w_2018.sun_hours==1000].station_name.unique()

array(['ballypatrick', 'braemar', 'cambridge', 'cardiff', 'chivenor',
       'dunstaffnage', 'durham', 'newtonrigg', 'suttonbonington',
       'wickairport'], dtype=object)

In [7]:
# of missing entires for each station 
missing = {}
for name in w_2018[w_2018.sun_hours==1000].station_name:
    if name in missing.keys():
        missing[name] += 1
    else:
        missing[name] = 0

missing

{'ballypatrick': 11,
 'braemar': 11,
 'cambridge': 11,
 'cardiff': 11,
 'chivenor': 11,
 'dunstaffnage': 11,
 'durham': 11,
 'newtonrigg': 11,
 'suttonbonington': 11,
 'wickairport': 11}

It appears that these 10 stations did not report any sun_hours data for 2018. 
Will attempt to fill up this data with historical average data (if any). The strategey is to average the data of most recently available data from three fill years. This is assuming that the average number of sun hours at a given stations is stable over the years.

In [14]:
# Get tow most recently available years of data
def get_fill_years(station, years_to_check):
    
    years = []
    
    # check 20 years into the past
    for year in range(-2018, years_to_check-2018):
        
        # print(-year, station) # Debugging
        
        df = query_to_dataframe({"station_name":station, "year":-year})
        
        # check for any entries
        if df is None:
            pass
        else:
            if len(df[df.sun_hours<1000])==12:
                years.append(-year)
            
        if len(years)>=3: # number of fill years to consider
            break
                    
    return years

In [15]:
fill_years = {}
for station in missing.keys():
    fill_years[station] = get_fill_years(station, years_to_check=60)
    
fill_years

{'ballypatrick': [1990, 1989, 1988],
 'braemar': [2004, 2003, 2002],
 'cambridge': [2009, 2008, 2007],
 'cardiff': [1995, 1994, 1993],
 'chivenor': [1970, 1968, 1967],
 'dunstaffnage': [2001, 2000, 1999],
 'durham': [1998, 1997, 1996],
 'newtonrigg': [1980, 1979, 1978],
 'suttonbonington': [1999, 1998, 1997],
 'wickairport': [1992, 1991, 1990]}

In [40]:
## Fill in missing values for 2018 using fill data from the identified fill years

def get_fill_values(station, fill_years):
    '''
    custom function to calculate the average number of sun hours across the
    specified fill years for each month
    '''
    count = 0 # index through the fill years
    
    # cummulatively sum up values from fill years
    for year in fill_years:
        
        df = query_to_dataframe({"station_name":station, "year":year})
        
        if count == 0:   
            values = pd.concat([df.sun_hours, df.month], axis=1).set_index("month")
            
        else:
            values = values + pd.concat([df.sun_hours, df.month], axis=1).set_index("month")
            
    return values/len(fill_years) # divide by number of fill years to get average

In [48]:
# check fill values calculated for wickairport
get_fill_values('wickairport', fill_years['wickairport'])

       sun_hours
month
1.0    20.266667
2.0    26.633333
3.0    30.500000
4.0    62.733333
5.0    67.800000
6.0    34.433333
7.0    71.333333
8.0    49.566667
9.0    35.400000
10.0   32.100000
11.0   18.366667
12.0    9.800000

In [84]:
def fill_sun_hours():
    ''' Fill in missing values for sun hours'''
    for station in missing.keys():
        df_slice = w_2018[w_2018.station_name==station].sun_hours.index
        values = get_fill_values(station, fill_years[station])
    
        for i in range(0, len(df_slice)):
            val = values.iloc[i]
            w_2018.set_value(col="sun_hours",index=df_slice[i],value=val)

In [85]:
fill_sun_hours()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

In [88]:
# updated dataframe does not have missing values
w_2018.describe()

,af_days,month,rain_mm,sun_hours,tmax_degC,tmin_degC,year
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.0
mean,3.117647,6.500000,71.483333,104.966258,13.777941,6.622059,2018.0
std,4.790027,3.456291,44.772683,77.248584,5.696825,4.204140,0.0
min,0.000000,1.000000,0.400000,1.866667,3.300000,-2.500000,2018.0
25%,0.000000,3.750000,40.625000,45.425000,8.800000,3.000000,2018.0
50%,0.000000,6.500000,62.900000,79.200000,13.300000,6.500000,2018.0
75%,5.000000,9.250000,88.150000,147.375000,18.500000,9.900000,2018.0
max,24.000000,12.000000,262.800000,339.700000,28.300000,16.400000,2018.0

In [89]:
import seaborn as sns

In [118]:
data = w_2018.copy(deep=True)
grouped = data.groupby("station_name")
grouped.describe()

                af_days                                                   \
                  count       mean       std  min  25%  50%    75%   max
station_name
aberporth          12.0   1.333333  3.228660  0.0  0.0  0.0   0.00  10.0
armagh             12.0   2.750000  3.816829  0.0  0.0  1.5   3.00  11.0
ballypatrick       12.0   2.166667  3.298301  0.0  0.0  0.0   3.75   9.0
bradford           12.0   3.333333  4.923660  0.0  0.0  0.5   6.25  13.0
braemar            12.0  10.083333  8.826183  0.0  2.5  9.0  15.25  24.0
camborne           12.0   0.833333  1.749459  0.0  0.0  0.0   0.25   5.0
cambridge          12.0   2.916667  5.053502  0.0  0.0  0.5   3.00  17.0
cardiff            12.0   2.833333  4.549392  0.0  0.0  0.5   3.75  14.0
chivenor           12.0   1.833333  2.918073  0.0  0.0  0.0   2.50   8.0
dunstaffnage       12.0   2.333333  3.498918  0.0  0.0  0.5   3.25   9.0
durham             12.0   4.083333  5.775471  0.0  0.0  1.5   5.75  18.0
eastbourne         12.0   1.000000  2.486326  0.0  0.0  0.0   0.00   8.0
eskdalemuir        12.0   7.000000  7.458979  0.0  1.5  3.5  11.25  22.0
heathrow           12.0   1.916667  3.604501  0.0  0.0  0.5   1.25  12.0
hurn               12.0   4.166667  5.890413  0.0  0.0  2.0   6.25  20.0
lerwick            12.0   2.250000  3.519427  0.0  0.0  0.0   3.50   9.0
leuchars           12.0   5.000000  6.281285  0.0  0.0  2.0  11.50  16.0
lowestoft          12.0   2.083333  3.396745  0.0  0.0  0.5   2.25  10.0
manston            12.0   1.416667  3.117643  0.0  0.0  0.0   0.25   9.0
nairn              12.0   5.583333  6.067174  0.0  0.0  3.5  11.25  16.0
newtonrigg         12.0   5.250000  5.801646  0.0  0.0  5.0   6.00  17.0
oxford             12.0   2.666667  4.052683  0.0  0.0  1.5   3.25  14.0
paisley            12.0   3.750000  4.750598  0.0  0.0  1.5   8.50  12.0
rossonwye          12.0   3.083333  4.055486  0.0  0.0  1.5   4.50  12.0
shawbury           12.0   4.416667  5.900051  0.0  0.0  2.0   6.00  17.0
sheffield          12.0   2.000000  3.247377  0.0  0.0  0.5   2.25  10.0
stornoway          12.0   2.416667  3.752777  0.0  0.0  0.0   3.00  10.0
suttonbonington    12.0   2.833333  4.195958  0.0  0.0  0.5   4.25  12.0
tiree              12.0   1.000000  1.858641  0.0  0.0  0.0   1.25   6.0
valley             12.0   2.000000  3.330302  0.0  0.0  0.0   2.50  10.0
waddington         12.0   2.833333  5.573204  0.0  0.0  0.0   2.25  18.0
whitby             12.0   2.416667  3.728474  0.0  0.0  0.0   4.25  10.0
wickairport        12.0   3.083333  4.144182  0.0  0.0  0.5   5.25  12.0
yeovilton          12.0   3.333333  4.716187  0.0  0.0  1.0   4.50  15.0

                month        ...   tmin_degC        year                       \
                count mean   ...         75%   max count    mean  std     min
station_name                 ...
aberporth        12.0  6.5   ...      11.200  13.4  12.0  2018.0  0.0  2018.0
armagh           12.0  6.5   ...       8.700  11.9  12.0  2018.0  0.0  2018.0
ballypatrick     12.0  6.5   ...       8.700  11.3  12.0  2018.0  0.0  2018.0
bradford         12.0  6.5   ...       9.600  12.6  12.0  2018.0  0.0  2018.0
braemar          12.0  6.5   ...       6.450   9.8  12.0  2018.0  0.0  2018.0
camborne         12.0  6.5   ...      12.225  14.3  12.0  2018.0  0.0  2018.0
cambridge        12.0  6.5   ...       9.800  13.6  12.0  2018.0  0.0  2018.0
cardiff          12.0  6.5   ...      10.750  14.7  12.0  2018.0  0.0  2018.0
chivenor         12.0  6.5   ...      11.500  14.0  12.0  2018.0  0.0  2018.0
dunstaffnage     12.0  6.5   ...       9.300  11.8  12.0  2018.0  0.0  2018.0
durham           12.0  6.5   ...       9.250  12.1  12.0  2018.0  0.0  2018.0
eastbourne       12.0  6.5   ...      12.025  15.8  12.0  2018.0  0.0  2018.0
eskdalemuir      12.0  6.5   ...       6.625   9.9  12.0  2018.0  0.0  2018.0
heathrow         12.0  6.5   ...      11.525  16.4  12.0  2018.0  0.0  2018.0
hurn             12.0  6.5   ...       9.250  13.1  12.0  2018.0  0.0  2018.0
lerwick          12.0  6.5   ...       8.525  11.3  12.0  2018.0  0.0  2018.0
leuchars         12.0  6.5   ...       8.650  12.4  12.0  2018.0  0.0  2018.0
lowestoft        12.0  6.5   ...      11.250  15.0  12.0  2018.0  0.0  2018.0
manston          12.0  6.5   ...      11.475  15.2  12.0  2018.0  0.0  2018.0
nairn            12.0  6.5   ...       8.625  11.9  12.0  2018.0  0.0  2018.0
newtonrigg       12.0  6.5   ...       8.050  11.3  12.0  2018.0  0.0  2018.0
oxford           12.0  6.5   ...      10.550  14.5  12.0  2018.0  0.0  2018.0
paisley          12.0  6.5   ...       9.375  12.7  12.0  2018.0  0.0  2018.0
rossonwye        12.0  6.5   ...      10.350  13.7  12.0  2018.0  0.0  2018.0
shawbury         12.0  6.5   ...       9.225  12.2  12.0  2018.0  0.0  2018.0
sheffield        12.0  6.5   ...      10.575  14.0  12.0  2018.0  0.0  2018.0
stornoway        12.0  6.5   ...       8.600  11.4  12.0  2018.0  0.0  2018.0
suttonbonington  12.0  6.5   ...      10.150  12.9  12.0  2018.0  0.0  2018.0
tiree            12.0  6.5   ...       9.475  12.0  12.0  2018.0  0.0  2018.0
valley           12.0  6.5   ...      11.475  13.5  12.0  2018.0  0.0  2018.0
waddington       12.0  6.5   ...      10.325  14.1  12.0  2018.0  0.0  2018.0
whitby           12.0  6.5   ...       9.775  13.3  12.0  2018.0  0.0  2018.0
wickairport      12.0  6.5   ...       8.200  11.3  12.0  2018.0  0.0  2018.0
yeovilton        12.0  6.5   ...       9.950  13.5  12.0  2018.0  0.0  2018.0


                    25%     50%     75%     max
station_name
aberporth        2018.0  2018.0  2018.0  2018.0
armagh           2018.0  2018.0  2018.0  2018.0
ballypatrick     2018.0  2018.0  2018.0  2018.0
bradford         2018.0  2018.0  2018.0  2018.0
braemar          2018.0  2018.0  2018.0  2018.0
camborne         2018.0  2018.0  2018.0  2018.0
cambridge        2018.0  2018.0  2018.0  2018.0
cardiff          2018.0  2018.0  2018.0  2018.0
chivenor         2018.0  2018.0  2018.0  2018.0
dunstaffnage     2018.0  2018.0  2018.0  2018.0
durham           2018.0  2018.0  2018.0  2018.0
eastbourne       2018.0  2018.0  2018.0  2018.0
eskdalemuir      2018.0  2018.0  2018.0  2018.0
heathrow         2018.0  2018.0  2018.0  2018.0
hurn             2018.0  2018.0  2018.0  2018.0
lerwick          2018.0  2018.0  2018.0  2018.0
leuchars         2018.0  2018.0  2018.0  2018.0
lowestoft        2018.0  2018.0  2018.0  2018.0
manston          2018.0  2018.0  2018.0  2018.0
nairn            2018.0  2018.0  2018.0  2018.0
newtonrigg       2018.0  2018.0  2018.0  2018.0
oxford           2018.0  2018.0  2018.0  2018.0
paisley          2018.0  2018.0  2018.0  2018.0
rossonwye        2018.0  2018.0  2018.0  2018.0
shawbury         2018.0  2018.0  2018.0  2018.0
sheffield        2018.0  2018.0  2018.0  2018.0
stornoway        2018.0  2018.0  2018.0  2018.0
suttonbonington  2018.0  2018.0  2018.0  2018.0
tiree            2018.0  2018.0  2018.0  2018.0
valley           2018.0  2018.0  2018.0  2018.0
waddington       2018.0  2018.0  2018.0  2018.0
whitby           2018.0  2018.0  2018.0  2018.0
wickairport      2018.0  2018.0  2018.0  2018.0
yeovilton        2018.0  2018.0  2018.0  2018.0

[34 rows x 56 columns]