# Import and clean downloaded weather data

In [1]:
'''
Author: Brian Mukeswe
Institution: The University of Edinburgh
Date: May 17, 2019

'''
import pandas as pd
import numpy as np

def append_row(data_frame, row_items):
    '''Add a new row to a data frame'''

    item_array = np.array(row_items).reshape(1,len(data_frame.columns))
    
    item_data = pd.DataFrame(item_array,columns=data_frame.columns) 
    
    return pd.concat([data_frame, item_data], axis=0)


def insert_line(line, data, station, index):
    ''' Read the data entries on a given line in the text file
        return: A list containing the entries on the line
    '''
    cols = line.strip().split(" ")
    items = [station]
    
    for item in cols:
        if item!='':
            
            # Clean data entries
            clean_item = item.replace("*","")
            clean_item = clean_item.replace("#","")
            clean_item = clean_item.replace("---","1000") # 1000 is used to indicate a missing value
            clean_item = clean_item.replace("$", "")
            
            items.append(clean_item)
            if len(items)>=8:
                items.append(index)
                index += 1
                break
    
    # DEBUGGING
    if len(items)<8:
        print(station, items)
        
    # make sure the row item matches the dataframe size
    if len(items)==len(data.columns):
        data = append_row(data, items)   
        
    return data, index

In [2]:
def get_names(name_list):
    '''Retrieves and cleans list of station names'''
    names = open(name_list, "r").readlines()
    clean_names = []
    
    for name in names:
        clean_names.append(name.replace("\n", ""))
        
    return clean_names

In [3]:
def add_station(station, data, index):
    '''Adds the data of a specified station to a dataframe'''
    
    lines = open("data\\"+station+".txt").readlines()
    
    for line in range(8, len(lines)):
        data, index = insert_line(lines[line], data, station, index)
        
    return data, index

## Load data from all stations into a dataframe

In [4]:
column_names = ["station_name", "year", "month", "tmax_degC", "tmin_degC", "af_days", "rain_mm", "sun_hours", "INDEX"]
data = pd.DataFrame(columns=column_names)

stations = get_names("stations.txt")
index = 0

for station in stations:
    data, index = add_station(station, data, index)
    print("successfully added:", station)
    
data.shape

successfully added: aberporth
successfully added: armagh
successfully added: ballypatrick
successfully added: bradford
successfully added: braemar
successfully added: camborne
successfully added: cambridge
successfully added: cardiff
successfully added: chivenor
cwmystwyth ['cwmystwyth', 'Site', 'closed']
successfully added: cwmystwyth
successfully added: dunstaffnage
successfully added: durham
successfully added: eastbourne
successfully added: eskdalemuir
successfully added: heathrow
successfully added: hurn
successfully added: lerwick
successfully added: leuchars
lowestoft ['lowestoft', '1945', '3', '11.8', '4.1', '1', '35.8']
successfully added: lowestoft
successfully added: manston
successfully added: nairn
successfully added: newtonrigg
successfully added: oxford
successfully added: paisley
ringway ['ringway', 'Site', 'Closed']
successfully added: ringway
successfully added: rossonwye
successfully added: shawbury
successfully added: sheffield
southampton ['southampton', 'Site', 'Closed']
successfully added: southampton
successfully added: stornoway
successfully added: suttonbonington
successfully added: tiree
successfully added: valley
successfully added: waddington
whitby ['whitby', '1961', '9', '18.6', '10.0', '0', '26.9']
whitby ['whitby', '1961', '10', '14.0', '7.7', '0', '74.3']
whitby ['whitby', '1961', '11', '8.9', '4.3', '4', '19.1']
whitby ['whitby', '1961', '12', '5.4', '0.5', '14', '33.0']
whitby ['whitby', '1962', '1', '7.2', '1.9', '6', '50.7']
whitby ['whitby', '1962', '2', '7.5', '2.3', '3', '15.0']
whitby ['whitby', '1962', '3', '5.5', '0.0', '14', '23.5']
whitby ['whitby', '1962', '4', '9.6', '3.9', '0', '37.0']
whitby ['whitby', '1962', '5', '12.4', '6.3', '0', '49.9']
whitby ['whitby', '1962', '6', '17.0', '8.6', '0', '7.4']
whitby ['whitby', '1962', '7', '15.8', '10.0', '0', '47.1']
whitby ['whitby', '1962', '8', '17.0', '10.6', '0', '50.8']
whitby ['whitby', '1962', '9', '15.1', '9.2', '0', '55.2']
whitby ['whitby', '1962', '10', '13.2', '7.6', '1', '7.6']
whitby ['whitby', '1962', '11', '8.2', '3.5', '4', '65.2']
whitby ['whitby', '1962', '12', '6.0', '-0.6', '16', '39.7']
whitby ['whitby', '1963', '1', '2.7', '-1.1', '13', '44.3']
whitby ['whitby', '1963', '2', '1.8', '-2.0', '25', '21.1']
whitby ['whitby', '1963', '3', '8.3', '1.9', '5', '43.5']
whitby ['whitby', '1963', '4', '10.3', '4.1', '0', '26.4']
whitby ['whitby', '1963', '5', '12.7', '6.0', '0', '35.2']
whitby ['whitby', '1963', '6', '15.5', '9.5', '0', '62.4']
whitby ['whitby', '1963', '7', '17.0', '10.0', '0', '26.9']
whitby ['whitby', '1963', '8', '15.8', '9.9', '0', '89.3']
whitby ['whitby', '1963', '9', '16.1', '8.4', '0', '28.7']
whitby ['whitby', '1963', '10', '13.5', '7.2', '0', '35.6']
whitby ['whitby', '1963', '11', '9.7', '4.7', '3', '83.4']
whitby ['whitby', '1963', '12', '5.7', '1.4', '8', '27.3']
whitby ['whitby', '1964', '1', '6.5', '1.6', '5', '14.5']
whitby ['whitby', '1964', '2', '6.7', '2.0', '7', '12.3']
whitby ['whitby', '1964', '3', '4.6', '1.7', '6', '77.1']
whitby ['whitby', '1964', '4', '11.5', '5.5', '0', '28.9']
whitby ['whitby', '1964', '5', '15.0', '7.8', '0', '12.7']
whitby ['whitby', '1964', '6', '15.9', '9.7', '0', '55.1']
whitby ['whitby', '1964', '7', '18.5', '11.3', '0', '15.0']
whitby ['whitby', '1964', '8', '18.2', '10.9', '0', '45.5']
whitby ['whitby', '1964', '9', '17.1', '9.5', '0', '12.7']
whitby ['whitby', '1964', '10', '12.1', '4.7', '1', '26.7']
whitby ['whitby', '1964', '11', '10.4', '4.4', '5', '9.5']
whitby ['whitby', '1964', '12', '6.7', '0.3', '13', '44.2']
whitby ['whitby', '1965', '1', '6.3', '1.1', '9', '44.8']
whitby ['whitby', '1965', '2', '5.5', '2.2', '3', '17.4']
whitby ['whitby', '1965', '3', '8.2', '1.2', '12', '29.5']
whitby ['whitby', '1965', '4', '10.4', '3.8', '1', '51.1']
whitby ['whitby', '1965', '5', '13.6', '6.5', '0', '40.4']
whitby ['whitby', '1965', '6', '16.7', '9.2', '0', '28.5']
whitby ['whitby', '1965', '7', '15.0', '9.6', '0', '54.3']
whitby ['whitby', '1965', '8', '17.2', '10.2', '0', '31.5']
whitby ['whitby', '1965', '9', '15.0', '9.5', '0', '97.6']
whitby ['whitby', '1965', '10', '13.8', '7.7', '0', '14.8']
whitby ['whitby', '1965', '11', '6.9', '2.1', '9', '108.7']
whitby ['whitby', '1965', '12', '6.1', '1.4', '6', '55.3']
whitby ['whitby', '1966', '1', '5.0', '1.1', '8', '33.7']
whitby ['whitby', '1966', '2', '6.7', '1.9', '10', '75.5']
whitby ['whitby', '1966', '3', '9.3', '3.5', '1', '17.8']
whitby ['whitby', '1966', '4', '7.9', '3.1', '4', '81.4']
whitby ['whitby', '1966', '5', '13.3', '6.3', '0', '34.1']
whitby ['whitby', '1966', '6', '17.0', '10.4', '0', '66.5']
whitby ['whitby', '1966', '7', '16.4', '10.8', '0', '56.6']
whitby ['whitby', '1966', '8', '16.2', '11.3', '0', '93.2']
whitby ['whitby', '1966', '9', '16.3', '10.1', '0', '17.0']
whitby ['whitby', '1966', '10', '12.4', '7.5', '0', '95.1']
whitby ['whitby', '1966', '11', '8.5', '3.6', '1', '39.5']
whitby ['whitby', '1966', '12', '7.2', '2.0', '4', '55.9']
whitby ['whitby', '1967', '1', '6.7', '1.4', '6', '27.9']
whitby ['whitby', '1967', '2', '7.9', '3.1', '3', '62.7']
whitby ['whitby', '1967', '3', '9.8', '3.9', '0', '27.8']
whitby ['whitby', '1967', '4', '10.1', '4.1', '1', '15.2']
whitby ['whitby', '1967', '5', '11.8', '5.8', '1', '117.0']
whitby ['whitby', '1967', '6', '15.5', '8.9', '0', '7.0']
whitby ['whitby', '1967', '7', '19.3', '11.7', '0', '39.6']
whitby ['whitby', '1967', '8', '18.0', '11.4', '0', '60.1']
whitby ['whitby', '1967', '9', '15.4', '9.9', '0', '58.6']
whitby ['whitby', '1967', '10', '12.9', '7.1', '0', '52.9']
whitby ['whitby', '1967', '11', '8.7', '2.2', '4', '75.5']
whitby ['whitby', '1967', '12', '7.2', '1.7', '9', '32.2']
whitby ['whitby', '1968', '1', '6.9', '1.7', '12', '24.4']
whitby ['whitby', '1968', '2', '4.3', '-0.7', '16', '45.1']
whitby ['whitby', '1968', '3', '9.4', '3.4', '2', '34.5']
whitby ['whitby', '1968', '4', '10.8', '1.6', '9', '28.8']
whitby ['whitby', '1968', '5', '10.6', '2.8', '2', '37.1']
whitby ['whitby', '1968', '6', '16.7', '6.8', '0', '58.5']
whitby ['whitby', '1968', '7', '15.0', '8.1', '0', '81.4']
whitby ['whitby', '1968', '8', '16.3', '9.6', '0', '28.0']
whitby ['whitby', '1968', '9', '15.7', '1000', '1000', '66.0']
whitby ['whitby', '1968', '10', '14.7', '1000', '1000', '35.2']
whitby ['whitby', '1968', '11', '8.5', '5.1', '1', '35.1']
whitby ['whitby', '1968', '12', '5.7', '1.5', '9', '1000']
whitby ['whitby', '1969', '1', '7.3', '2.2', '6', '48.4']
whitby ['whitby', '1969', '2', '3.1', '-0.8', '14', '46.3']
whitby ['whitby', '1969', '3', '4.5', '0.4', '9', '1000']
whitby ['whitby', '1969', '4', '8.9', '2.9', '4', '52.6']
whitby ['whitby', '1969', '5', '11.9', '6.4', '0', '73.7']
whitby ['whitby', '1969', '6', '16.0', '8.2', '0', '53.0']
whitby ['whitby', '1969', '7', '19.6', '11.9', '0', '39.0']
whitby ['whitby', '1969', '8', '17.7', '12.2', '0', '20.6']
whitby ['whitby', '1969', '9', '16.5', '10.3', '0', '49.2']
whitby ['whitby', '1969', '10', '15.4', '9.0', '0', '9.0']
whitby ['whitby', '1969', '11', '7.9', '2.2', '4', '77.2']
whitby ['whitby', '1969', '12', '5.8', '1.4', '9', '64.1']
whitby ['whitby', '1970', '1', '5.4', '1.3', '7', '48.6']
whitby ['whitby', '1970', '2', '5.2', '-0.2', '14', '43.5']
whitby ['whitby', '1970', '3', '6.8', '0.7', '11', '36.3']
whitby ['whitby', '1970', '4', '8.8', '2.7', '7', '31.0']
whitby ['whitby', '1970', '5', '13.5', '7.3', '0', '22.9']
whitby ['whitby', '1970', '6', '17.1', '9.5', '0', '9.5']
whitby ['whitby', '1970', '7', '18.0', '11.3', '0', '63.3']
whitby ['whitby', '1970', '8', '17.7', '11.4', '0', '31.1']
whitby ['whitby', '1970', '9', '17.6', '10.3', '0', '25.9']
whitby ['whitby', '1970', '10', '13.8', '6.8', '0', '28.3']
whitby ['whitby', '1970', '11', '9.8', '4.0', '1', '93.3']
whitby ['whitby', '1970', '12', '7.0', '2.6', '1', '1000']
whitby ['whitby', '1971', '1', '6.6', '2.0', '7', '41.9']
whitby ['whitby', '1971', '2', '7.7', '1.9', '4', '10.5']
whitby ['whitby', '1971', '3', '7.6', '2.0', '7', '25.3']
whitby ['whitby', '1971', '4', '8.9', '3.3', '2', '53.0']
whitby ['whitby', '1971', '5', '13.4', '5.9', '1', '34.7']
whitby ['whitby', '1971', '6', '13.4', '8.2', '0', '37.7']
whitby ['whitby', '1971', '7', '18.4', '11.1', '0', '41.8']
whitby ['whitby', '1971', '8', '17.4', '10.8', '0', '90.8']
whitby ['whitby', '1971', '9', '16.7', '9.2', '0', '11.9']
whitby ['whitby', '1971', '10', '14.4', '7.4', '1', '14.3']
whitby ['whitby', '1971', '11', '9.2', '3.4', '5', '63.3']
whitby ['whitby', '1971', '12', '9.2', '4.3', '3', '8.9']
whitby ['whitby', '1972', '1', '1000', '1.7', '9', '50.6']
whitby ['whitby', '1972', '2', '1000', '1.4', '5', '41.6']
whitby ['whitby', '1972', '3', '1000', '1.8', '5', '47.2']
whitby ['whitby', '1972', '4', '10.5', '4.2', '1', '27.2']
whitby ['whitby', '1972', '5', '12.7', '6.1', '0', '38.6']
whitby ['whitby', '1972', '6', '15.3', '7.8', '0', '67.5']
whitby ['whitby', '1972', '7', '16.9', '10.2', '0', '24.0']
whitby ['whitby', '1972', '8', '17.2', '9.9', '0', '9.7']
whitby ['whitby', '1972', '9', '14.0', '7.2', '0', '18.7']
whitby ['whitby', '1972', '10', '1000', '1000', '1000', '1000']
whitby ['whitby', '1972', '11', '1000', '1000', '1000', '1000']
whitby ['whitby', '1972', '12', '1000', '1000', '1000', '1000']
whitby ['whitby', '1973', '1', '1000', '1000', '1000', '1000']
whitby ['whitby', '1973', '2', '1000', '1000', '1000', '1000']
whitby ['whitby', '1973', '3', '1000', '1000', '1000', '4.0']
whitby ['whitby', '1973', '4', '8.4', '3.3', '0', '44.7']
whitby ['whitby', '1973', '5', '13.0', '6.1', '0', '62.8']
whitby ['whitby', '1973', '6', '17.5', '10.0', '0', '32.6']
whitby ['whitby', '1973', '7', '17.1', '11.0', '0', '81.6']
whitby ['whitby', '1973', '8', '17.5', '10.7', '0', '41.0']
whitby ['whitby', '1973', '9', '16.3', '9.7', '0', '67.5']
whitby ['whitby', '1973', '10', '11.7', '6.5', '0', '32.8']
whitby ['whitby', '1973', '11', '8.8', '2.7', '7', '26.7']
whitby ['whitby', '1973', '12', '7.4', '0.9', '11', '39.9']
whitby ['whitby', '1974', '1', '8.1', '2.3', '5', '73.3']
whitby ['whitby', '1974', '2', '7.8', '2.6', '3', '44.5']
whitby ['whitby', '1974', '3', '7.0', '2.1', '2', '37.3']
whitby ['whitby', '1974', '4', '7.1', '3.5', '2', '8.1']
whitby ['whitby', '1974', '5', '12.9', '6.5', '0', '12.1']
whitby ['whitby', '1974', '6', '15.2', '8.5', '0', '37.3']
whitby ['whitby', '1974', '7', '17.5', '10.9', '0', '36.5']
whitby ['whitby', '1974', '8', '18.4', '11.1', '0', '33.3']
whitby ['whitby', '1974', '9', '15.2', '8.3', '0', '72.5']
whitby ['whitby', '1974', '10', '10.1', '5.3', '1', '1000']
whitby ['whitby', '1974', '11', '8.5', '3.2', '1', '67.4']
whitby ['whitby', '1974', '12', '10.0', '4.4', '0', '27.1']
whitby ['whitby', '1975', '1', '8.9', '3.0', '2', '48.7']
whitby ['whitby', '1975', '2', '6.6', '1.4', '6', '14.9']
whitby ['whitby', '1975', '3', '6.9', '2.0', '2', '31.3']
whitby ['whitby', '1975', '4', '10.4', '4.1', '2', '39.1']
whitby ['whitby', '1975', '5', '10.4', '4.7', '0', '57.1']
whitby ['whitby', '1975', '6', '16.1', '8.3', '0', '31.0']
whitby ['whitby', '1975', '7', '19.0', '11.3', '0', '49.1']
whitby ['whitby', '1975', '8', '20.5', '12.3', '0', '22.2']
whitby ['whitby', '1975', '9', '16.5', '8.4', '0', '55.4']
whitby ['whitby', '1975', '10', '12.7', '6.1', '0', '27.2']
whitby ['whitby', '1975', '11', '9.2', '3.6', '2', '61.6']
whitby ['whitby', '1975', '12', '8.5', '3.3', '2', '40.1']

successfully added: whitby
successfully added: wickairport
successfully added: yeovilton

(37086, 9)

Issues observed:
- no sun_hours data entries for some months in whitby.
- no sun_hours data entry for lowesoft 1945 march.
- cwmystwyth, ringway and southampton sites closed at some point.

about 37k data points in total

Need to clean and add skipped data points to dataframe ...

In [5]:
# Create an updated version of the insert_line and add station functions to 
# include skipped data points from lowesoft and whitby

def insert_line_updated(line, data, station, index):
    ''' Read the data entries on a given line in the text file
        return: A list containing the entries on the line
    '''
    cols = line.strip().split(" ")
    items = [station]
    
    for item in cols:
        if item!='':
            
            # Clean data entries
            clean_item = item.replace("*","")
            clean_item = clean_item.replace("#","")
            clean_item = clean_item.replace("---","1000") # 1000 is used to indicate a missing value
            clean_item = clean_item.replace("$", "")
            
            items.append(clean_item)
            if len(items)>=8:
                items.append(index)
                index += 1
                break
    
    # insert 1000 in missing sun_hour data entries
    if len(items)<8:
        if len(items)==7:
            items.append("1000")
            items.append(index)
            index += 1
            
        else:
            print(station, items)
        
    # make sure the row item matches the dataframe size
    if len(items)==len(data.columns):
        data = append_row(data, items)   
        
    return data, index

def add_station_updated(station, data, index):
    '''Adds the data of a specified station to a dataframe'''
    
    lines = open("data\\"+station+".txt").readlines()
    
    for line in range(8, len(lines)):
        data, index = insert_line_updated(lines[line], data, station, index)
        
    return data, index

column_names = ["station_name", "year", "month", "tmax_degC", "tmin_degC", "af_days", "rain_mm", "sun_hours", "INDEX"]
data = pd.DataFrame(columns=column_names)

stations = get_names("stations.txt")
index = 0

for station in stations:
    data, index = add_station_updated(station, data, index)
    print("successfully added:", station)
    
data.shape

successfully added: aberporth
successfully added: armagh
successfully added: ballypatrick
successfully added: bradford
successfully added: braemar
successfully added: camborne
successfully added: cambridge
successfully added: cardiff
successfully added: chivenor
cwmystwyth ['cwmystwyth', 'Site', 'closed']
successfully added: cwmystwyth
successfully added: dunstaffnage
successfully added: durham
successfully added: eastbourne
successfully added: eskdalemuir
successfully added: heathrow
successfully added: hurn
successfully added: lerwick
successfully added: leuchars
successfully added: lowestoft
successfully added: manston
successfully added: nairn
successfully added: newtonrigg
successfully added: oxford
successfully added: paisley
ringway ['ringway', 'Site', 'Closed']
successfully added: ringway
successfully added: rossonwye
successfully added: shawbury
successfully added: sheffield
southampton ['southampton', 'Site', 'Closed']
successfully added: southampton
successfully added: stornoway
successfully added: suttonbonington
successfully added: tiree
successfully added: valley
successfully added: waddington
successfully added: whitby
successfully added: wickairport
successfully added: yeovilton

(37259, 9)

In [6]:
# Set the index for the created data frame
data.set_index("INDEX", inplace=True)
data.head(10)

      station_name  year month tmax_degC tmin_degC af_days rain_mm sun_hours
INDEX
0        aberporth  1941     2      1000      1000    1000    69.1      1000
1        aberporth  1941     3      1000      1000    1000    76.2      1000
2        aberporth  1941     4      1000      1000    1000    33.7      1000
3        aberporth  1941     5      1000      1000    1000    51.3      1000
4        aberporth  1941     6      1000      1000    1000    25.7      1000
5        aberporth  1941     7      1000      1000    1000    53.9      1000
6        aberporth  1941     8      1000      1000    1000    91.8      1000
7        aberporth  1941     9      1000      1000    1000    25.5      1000
8        aberporth  1941    10      1000      1000    1000   106.2      1000
9        aberporth  1941    11      1000      1000    1000    92.3      1000

In [7]:
data.tail(10)

      station_name  year month tmax_degC tmin_degC af_days rain_mm sun_hours
INDEX
37249    yeovilton  2018     7      25.9      13.5       0    13.8     242.3
37250    yeovilton  2018     8      22.7      12.8       0    53.8     138.5
37251    yeovilton  2018     9      19.6       9.4       0    36.4     149.0
37252    yeovilton  2018    10      15.4       6.2       4    51.8     132.8
37253    yeovilton  2018    11      12.1       5.3       4   102.6      73.8
37254    yeovilton  2018    12      11.0       5.3       2    94.2      27.2
37255    yeovilton  2019     1       7.8       1.0      14    33.8      53.2
37256    yeovilton  2019     2      11.8       1.9      10    47.2     111.4
37257    yeovilton  2019     3      12.3       4.8       2    66.0     110.0
37258    yeovilton  2019     4      14.8       4.7       2    49.4     155.2

## Setup methods to store data in a mongodb database server

In [8]:
from pymongo import MongoClient

In [9]:
def make_lineObj(line, data):
    ''' create a dict object of a specified row
        of a dataframe
    '''
   
    obj = {}
    
    for column in data.columns:
        obj[column] = data[column].iloc[line]
        
    return obj


def storeObj(obj):
    collection = "weather_data"
    
    client = MongoClient(host="local_host", port=27017)
    db = client.pitds_weather_data
    weather_data = db[collection]
    
    weather_data.insert_one(obj)

## set data types before storing in database

In [10]:
# back up data frame in excel file and raw_data variable
raw_data = data.copy(deep=True)
data.to_excel("weather_data.xlsx")

In [11]:
# Check cleaning
# identify offending values that were not succesfully cleaned
sun = data.sun_hours
sun[sun.str.contains("a")]

INDEX
17559    152.0Change
35109        71.6all
Name: sun_hours, dtype: object

In [12]:
# clean letters and numbers mixed within the sun_hours data
sun.loc["17559"] = sun.loc["17559"].replace("Change", "")
sun.loc["35109"] = sun.loc["35109"].replace("all", "")

In [13]:
# Set data types
data.year = data.year.astype(int)
data.month = data.month.astype(int)
data.tmax_degC = data.tmax_degC.astype(float)
data.tmin_degC = data.tmin_degC.astype(float)
data.af_days = data.af_days.astype(int)
data.rain_mm = data.rain_mm.astype(float)
data.sun_hours = data.sun_hours.astype(float)
data.index = data.index.astype(int)

In [21]:
data.sun_hours[data.sun_hours==1000] = None
data.rain_mm[data.rain_mm==1000] = None
data.af_days[data.af_days==1000] = None
data.tmin_degC[data.tmin_degC==1000] = None
data.tmax_degC[data.tmax_degC==1000] = None

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [22]:
data.describe()

,year,month,tmax_degC,tmin_degC,af_days,rain_mm,sun_hours
count,37259.000000,37259.000000,36338.000000,36364.000000,34944.000000,36394.000000,28786.000000
mean,1968.503986,6.491398,12.722541,5.919173,3.515511,72.784676,118.431227
std,36.546454,3.453688,5.036415,4.059429,5.208213,48.157576,63.166909
min,1853.000000,1.000000,-0.900000,-8.600000,0.000000,0.000000,2.800000
25%,1949.000000,3.000000,8.500000,2.700000,0.000000,39.100000,64.800000
50%,1976.000000,6.000000,12.400000,5.500000,1.000000,62.400000,111.900000
75%,1997.000000,9.000000,16.800000,9.400000,6.000000,94.600000,163.675000
max,2019.000000,12.000000,28.300000,17.000000,31.000000,568.800000,350.300000

In [14]:
# update backed up data instances with formatted datatype
raw_data = data.copy(deep=True)
data.to_excel("weather_data.xlsx")

## store specified station data in a database (using parallel processes)

In [2]:
# Using multiple processes to speed up loading of all data into thedatabase.

def store_lines(batch):
    
    batch_dict = {"b1" : [0, 9200],
                  "b2" : [9200, 18400],
                  "b3" : [18400, 27600],
                  "b4" : [24600, 37259]
                 }
    
    start = batch_dict[batch][0]
    end = batch_dict[batch][1]

    worked = []
    for row in range(start, end):
        storeObj(make_lineObj(row, data))
        worked.append(row)
        
    
        # report every 2000 entries
        if row%2000 == 0:
            print("stored entries:", row)
            
    return worked

from multiprocessing import Pool
import store_lines

if __name__ ==  '__main__':
    
    batches = ("b1", "b2", "b3", "b4")
    num_processors = 2 # specify number of processes to use
    p=Pool(processes = num_processors)
    output = p.map(store_lines.store_lines,batches)

## store specified station data in a database (using single process)

In [15]:
for row in range(9857, len(data)):
    storeObj(make_lineObj(row, data))
    
    # report every 2000 entries
    if row%2000 == 0:
        print("stored entries:", row)

stored entries: 10000
stored entries: 12000
stored entries: 14000
stored entries: 16000
stored entries: 18000
stored entries: 20000
stored entries: 22000
stored entries: 24000
stored entries: 26000
stored entries: 28000
stored entries: 30000
stored entries: 32000
stored entries: 34000
stored entries: 36000