## store specified station data in a database

In [37]:
import pandas as pd
import numpy as np

def append_row(data_frame, row_items):
    '''Add a new row to a data frame'''

    item_array = np.array(row_items).reshape(1,len(data_frame.columns))
    
    item_data = pd.DataFrame(item_array,columns=data_frame.columns) 
    
    return pd.concat([data_frame, item_data], axis=0)


def insert_line(line, data, station):
    ''' Read the data entries on a given line in the text file
        return: A list containing the entries on the line
    '''
    cols = line.strip().split(" ")
    items = [station]
    
    for item in cols:
        if item!='':
            items.append(item)
            if len(items)>=8:
                break
    
    # DEBUGGING
    if len(items)<8:
        print(station, items)
        
    # make sure the row item matches the dataframe size
    if len(items)==len(data.columns):
        data = append_row(data, items)   
        
    return data

In [38]:
def get_names(name_list):
    '''Retrieves and cleans list of station names'''
    names = open(name_list, "r").readlines()
    clean_names = []
    
    for name in names:
        clean_names.append(name.replace("\n", ""))
        
    return clean_names

In [39]:
def add_station(station, data):
    '''Adds the data of a specified station to a dataframe'''
    
    lines = open(station+".txt").readlines()
    
    for line in range(8, len(lines)):
        data = insert_line(lines[line], data, station)
        
    return data

## Load data from all stations into a dataframe

In [40]:
column_names = ["station_name", "year", "month", "tmax_degC", "tmin_degC", "af_days", "rain_mm", "sun_hours"]
data = pd.DataFrame(columns=column_names)

stations = get_names("stations.txt")
#count = 0

for station in stations:
    data = add_station(station, data)
    print("successfully added:", station)
    
    #count += 1
    #if count > 2:
    #    break
data.shape

successfully added: aberporth
successfully added: armagh
successfully added: ballypatrick
successfully added: bradford
successfully added: braemar
successfully added: camborne
successfully added: cambridge
successfully added: cardiff
successfully added: chivenor
cwmystwyth ['cwmystwyth', 'Site', 'closed']
successfully added: cwmystwyth
successfully added: dunstaffnage
successfully added: durham
successfully added: eastbourne
successfully added: eskdalemuir
successfully added: heathrow
successfully added: hurn
successfully added: lerwick
successfully added: leuchars
lowestoft ['lowestoft', '1945', '3', '11.8', '4.1', '1', '35.8']
successfully added: lowestoft
successfully added: manston
successfully added: nairn
successfully added: newtonrigg
successfully added: oxford
successfully added: paisley
ringway ['ringway', 'Site', 'Closed']
successfully added: ringway
successfully added: rossonwye
successfully added: shawbury
successfully added: sheffield
southampton ['southampton', 'Site', 'Closed']
successfully added: southampton
successfully added: stornoway
successfully added: suttonbonington
successfully added: tiree
successfully added: valley
successfully added: waddington
whitby ['whitby', '1961', '9', '18.6', '10.0', '0', '26.9']
whitby ['whitby', '1961', '10', '14.0', '7.7', '0', '74.3']
whitby ['whitby', '1961', '11', '8.9', '4.3', '4', '19.1']
whitby ['whitby', '1961', '12', '5.4', '0.5', '14', '33.0']
whitby ['whitby', '1962', '1', '7.2', '1.9', '6', '50.7']
whitby ['whitby', '1962', '2', '7.5', '2.3', '3', '15.0']
whitby ['whitby', '1962', '3', '5.5', '0.0', '14', '23.5']
whitby ['whitby', '1962', '4', '9.6', '3.9', '0', '37.0']
whitby ['whitby', '1962', '5', '12.4', '6.3', '0', '49.9']
whitby ['whitby', '1962', '6', '17.0', '8.6', '0', '7.4']
whitby ['whitby', '1962', '7', '15.8', '10.0', '0', '47.1']
whitby ['whitby', '1962', '8', '17.0', '10.6', '0', '50.8']
whitby ['whitby', '1962', '9', '15.1', '9.2', '0', '55.2']
whitby ['whitby', '1962', '10', '13.2', '7.6', '1', '7.6']
whitby ['whitby', '1962', '11', '8.2', '3.5', '4', '65.2']
whitby ['whitby', '1962', '12', '6.0', '-0.6', '16', '39.7']
whitby ['whitby', '1963', '1', '2.7', '-1.1', '13', '44.3']
whitby ['whitby', '1963', '2', '1.8', '-2.0', '25', '21.1']
whitby ['whitby', '1963', '3', '8.3', '1.9', '5', '43.5']
whitby ['whitby', '1963', '4', '10.3', '4.1', '0', '26.4']
whitby ['whitby', '1963', '5', '12.7', '6.0', '0', '35.2']
whitby ['whitby', '1963', '6', '15.5', '9.5', '0', '62.4']
whitby ['whitby', '1963', '7', '17.0', '10.0', '0', '26.9']
whitby ['whitby', '1963', '8', '15.8', '9.9', '0', '89.3']
whitby ['whitby', '1963', '9', '16.1', '8.4', '0', '28.7']
whitby ['whitby', '1963', '10', '13.5', '7.2', '0', '35.6']
whitby ['whitby', '1963', '11', '9.7', '4.7', '3', '83.4']
whitby ['whitby', '1963', '12', '5.7', '1.4', '8', '27.3']
whitby ['whitby', '1964', '1', '6.5', '1.6', '5', '14.5']
whitby ['whitby', '1964', '2', '6.7', '2.0', '7', '12.3']
whitby ['whitby', '1964', '3', '4.6', '1.7', '6', '77.1']
whitby ['whitby', '1964', '4', '11.5', '5.5', '0', '28.9']
whitby ['whitby', '1964', '5', '15.0', '7.8', '0', '12.7']
whitby ['whitby', '1964', '6', '15.9', '9.7', '0', '55.1']
whitby ['whitby', '1964', '7', '18.5', '11.3', '0', '15.0']
whitby ['whitby', '1964', '8', '18.2', '10.9', '0', '45.5']
whitby ['whitby', '1964', '9', '17.1', '9.5', '0', '12.7']
whitby ['whitby', '1964', '10', '12.1', '4.7', '1', '26.7']
whitby ['whitby', '1964', '11', '10.4', '4.4', '5', '9.5']
whitby ['whitby', '1964', '12', '6.7', '0.3', '13', '44.2']
whitby ['whitby', '1965', '1', '6.3', '1.1', '9', '44.8']
whitby ['whitby', '1965', '2', '5.5', '2.2', '3', '17.4']
whitby ['whitby', '1965', '3', '8.2', '1.2', '12', '29.5']
whitby ['whitby', '1965', '4', '10.4', '3.8', '1', '51.1']
whitby ['whitby', '1965', '5', '13.6', '6.5', '0', '40.4']
whitby ['whitby', '1965', '6', '16.7', '9.2', '0', '28.5']
whitby ['whitby', '1965', '7', '15.0', '9.6', '0', '54.3']
whitby ['whitby', '1965', '8', '17.2', '10.2', '0', '31.5']
whitby ['whitby', '1965', '9', '15.0', '9.5', '0', '97.6']
whitby ['whitby', '1965', '10', '13.8', '7.7', '0', '14.8']
whitby ['whitby', '1965', '11', '6.9', '2.1', '9', '108.7']
whitby ['whitby', '1965', '12', '6.1', '1.4', '6', '55.3']
whitby ['whitby', '1966', '1', '5.0', '1.1', '8', '33.7']
whitby ['whitby', '1966', '2', '6.7', '1.9', '10', '75.5']
whitby ['whitby', '1966', '3', '9.3', '3.5', '1', '17.8']
whitby ['whitby', '1966', '4', '7.9', '3.1', '4', '81.4']
whitby ['whitby', '1966', '5', '13.3', '6.3', '0', '34.1']
whitby ['whitby', '1966', '6', '17.0', '10.4', '0', '66.5']
whitby ['whitby', '1966', '7', '16.4', '10.8', '0', '56.6']
whitby ['whitby', '1966', '8', '16.2', '11.3', '0', '93.2']
whitby ['whitby', '1966', '9', '16.3', '10.1', '0', '17.0']
whitby ['whitby', '1966', '10', '12.4', '7.5', '0', '95.1']
whitby ['whitby', '1966', '11', '8.5', '3.6', '1', '39.5']
whitby ['whitby', '1966', '12', '7.2', '2.0', '4', '55.9']
whitby ['whitby', '1967', '1', '6.7', '1.4', '6', '27.9']
whitby ['whitby', '1967', '2', '7.9', '3.1', '3', '62.7']
whitby ['whitby', '1967', '3', '9.8', '3.9', '0', '27.8']
whitby ['whitby', '1967', '4', '10.1', '4.1', '1', '15.2']
whitby ['whitby', '1967', '5', '11.8', '5.8', '1', '117.0']
whitby ['whitby', '1967', '6', '15.5', '8.9', '0', '7.0']
whitby ['whitby', '1967', '7', '19.3', '11.7', '0', '39.6']
whitby ['whitby', '1967', '8', '18.0', '11.4', '0', '60.1']
whitby ['whitby', '1967', '9', '15.4', '9.9', '0', '58.6']
whitby ['whitby', '1967', '10', '12.9', '7.1', '0', '52.9']
whitby ['whitby', '1967', '11', '8.7', '2.2', '4', '75.5']
whitby ['whitby', '1967', '12', '7.2', '1.7', '9', '32.2']
whitby ['whitby', '1968', '1', '6.9', '1.7', '12', '24.4']
whitby ['whitby', '1968', '2', '4.3', '-0.7', '16', '45.1']
whitby ['whitby', '1968', '3', '9.4', '3.4', '2', '34.5']
whitby ['whitby', '1968', '4', '10.8', '1.6', '9', '28.8']
whitby ['whitby', '1968', '5', '10.6', '2.8', '2', '37.1']
whitby ['whitby', '1968', '6', '16.7', '6.8', '0', '58.5']
whitby ['whitby', '1968', '7', '15.0', '8.1', '0', '81.4']
whitby ['whitby', '1968', '8', '16.3', '9.6', '0', '28.0']
whitby ['whitby', '1968', '9', '15.7', '---', '---', '66.0']
whitby ['whitby', '1968', '10', '14.7', '---', '---', '35.2']
whitby ['whitby', '1968', '11', '8.5', '5.1', '1', '35.1']
whitby ['whitby', '1968', '12', '5.7', '1.5', '9', '---']
whitby ['whitby', '1969', '1', '7.3', '2.2', '6', '48.4']
whitby ['whitby', '1969', '2', '3.1', '-0.8', '14', '46.3']
whitby ['whitby', '1969', '3', '4.5', '0.4', '9', '---']
whitby ['whitby', '1969', '4', '8.9', '2.9', '4', '52.6']
whitby ['whitby', '1969', '5', '11.9', '6.4', '0', '73.7']
whitby ['whitby', '1969', '6', '16.0', '8.2', '0', '53.0']
whitby ['whitby', '1969', '7', '19.6', '11.9', '0', '39.0']
whitby ['whitby', '1969', '8', '17.7', '12.2', '0', '20.6']
whitby ['whitby', '1969', '9', '16.5', '10.3', '0', '49.2']
whitby ['whitby', '1969', '10', '15.4', '9.0', '0', '9.0']
whitby ['whitby', '1969', '11', '7.9', '2.2', '4', '77.2']
whitby ['whitby', '1969', '12', '5.8', '1.4', '9', '64.1']
whitby ['whitby', '1970', '1', '5.4', '1.3', '7', '48.6']
whitby ['whitby', '1970', '2', '5.2', '-0.2', '14', '43.5']
whitby ['whitby', '1970', '3', '6.8', '0.7', '11', '36.3']
whitby ['whitby', '1970', '4', '8.8', '2.7', '7', '31.0']
whitby ['whitby', '1970', '5', '13.5', '7.3', '0', '22.9']
whitby ['whitby', '1970', '6', '17.1', '9.5', '0', '9.5']
whitby ['whitby', '1970', '7', '18.0', '11.3', '0', '63.3']
whitby ['whitby', '1970', '8', '17.7', '11.4', '0', '31.1']
whitby ['whitby', '1970', '9', '17.6', '10.3', '0', '25.9']
whitby ['whitby', '1970', '10', '13.8', '6.8', '0', '28.3']
whitby ['whitby', '1970', '11', '9.8', '4.0', '1', '93.3']
whitby ['whitby', '1970', '12', '7.0', '2.6', '1', '---']
whitby ['whitby', '1971', '1', '6.6', '2.0', '7', '41.9']
whitby ['whitby', '1971', '2', '7.7', '1.9', '4', '10.5']
whitby ['whitby', '1971', '3', '7.6', '2.0', '7', '25.3']
whitby ['whitby', '1971', '4', '8.9', '3.3', '2', '53.0']
whitby ['whitby', '1971', '5', '13.4', '5.9', '1', '34.7']
whitby ['whitby', '1971', '6', '13.4', '8.2', '0', '37.7']
whitby ['whitby', '1971', '7', '18.4', '11.1', '0', '41.8']
whitby ['whitby', '1971', '8', '17.4', '10.8', '0', '90.8']
whitby ['whitby', '1971', '9', '16.7', '9.2', '0', '11.9']
whitby ['whitby', '1971', '10', '14.4', '7.4', '1', '14.3']
whitby ['whitby', '1971', '11', '9.2', '3.4', '5', '63.3']
whitby ['whitby', '1971', '12', '9.2', '4.3', '3', '8.9']
whitby ['whitby', '1972', '1', '---', '1.7', '9', '50.6']
whitby ['whitby', '1972', '2', '---', '1.4', '5', '41.6']
whitby ['whitby', '1972', '3', '---', '1.8', '5', '47.2']
whitby ['whitby', '1972', '4', '10.5', '4.2', '1', '27.2']
whitby ['whitby', '1972', '5', '12.7', '6.1', '0', '38.6']
whitby ['whitby', '1972', '6', '15.3', '7.8', '0', '67.5']
whitby ['whitby', '1972', '7', '16.9', '10.2', '0', '24.0']
whitby ['whitby', '1972', '8', '17.2', '9.9', '0', '9.7']
whitby ['whitby', '1972', '9', '14.0', '7.2', '0', '18.7']
whitby ['whitby', '1972', '10', '---', '---', '---', '---']
whitby ['whitby', '1972', '11', '---', '---', '---', '---']
whitby ['whitby', '1972', '12', '---', '---', '---', '---']
whitby ['whitby', '1973', '1', '---', '---', '---', '---']
whitby ['whitby', '1973', '2', '---', '---', '---', '---']
whitby ['whitby', '1973', '3', '---', '---', '---', '4.0']
whitby ['whitby', '1973', '4', '8.4', '3.3', '0', '44.7']
whitby ['whitby', '1973', '5', '13.0', '6.1', '0', '62.8']
whitby ['whitby', '1973', '6', '17.5', '10.0', '0', '32.6']
whitby ['whitby', '1973', '7', '17.1', '11.0', '0', '81.6']
whitby ['whitby', '1973', '8', '17.5', '10.7', '0', '41.0']
whitby ['whitby', '1973', '9', '16.3', '9.7', '0', '67.5']
whitby ['whitby', '1973', '10', '11.7', '6.5', '0', '32.8']
whitby ['whitby', '1973', '11', '8.8', '2.7', '7', '26.7']
whitby ['whitby', '1973', '12', '7.4', '0.9', '11', '39.9']
whitby ['whitby', '1974', '1', '8.1', '2.3', '5', '73.3']
whitby ['whitby', '1974', '2', '7.8', '2.6', '3', '44.5']
whitby ['whitby', '1974', '3', '7.0', '2.1', '2', '37.3']
whitby ['whitby', '1974', '4', '7.1', '3.5', '2', '8.1']
whitby ['whitby', '1974', '5', '12.9', '6.5', '0', '12.1']
whitby ['whitby', '1974', '6', '15.2', '8.5', '0', '37.3']
whitby ['whitby', '1974', '7', '17.5', '10.9', '0', '36.5']
whitby ['whitby', '1974', '8', '18.4', '11.1', '0', '33.3']
whitby ['whitby', '1974', '9', '15.2', '8.3', '0', '72.5']
whitby ['whitby', '1974', '10', '10.1', '5.3', '1', '---']
whitby ['whitby', '1974', '11', '8.5', '3.2', '1', '67.4']
whitby ['whitby', '1974', '12', '10.0', '4.4', '0', '27.1']
whitby ['whitby', '1975', '1', '8.9', '3.0', '2', '48.7']
whitby ['whitby', '1975', '2', '6.6', '1.4', '6', '14.9']
whitby ['whitby', '1975', '3', '6.9', '2.0', '2', '31.3']
whitby ['whitby', '1975', '4', '10.4', '4.1', '2', '39.1']
whitby ['whitby', '1975', '5', '10.4', '4.7', '0', '57.1']
whitby ['whitby', '1975', '6', '16.1', '8.3', '0', '31.0']
whitby ['whitby', '1975', '7', '19.0', '11.3', '0', '49.1']
whitby ['whitby', '1975', '8', '20.5', '12.3', '0', '22.2']
whitby ['whitby', '1975', '9', '16.5', '8.4', '0', '55.4']
whitby ['whitby', '1975', '10', '12.7', '6.1', '0', '27.2']
whitby ['whitby', '1975', '11', '9.2', '3.6', '2', '61.6']
whitby ['whitby', '1975', '12', '8.5', '3.3', '2', '40.1']

successfully added: whitby
successfully added: wickairport
successfully added: yeovilton

(37086, 8)

Issues observed:
- no sun_hours data entries for some months in whitby.
- no sun_hours data entry for lowesoft 1945 march.
- cwmystwyth, ringway and southampton sites closed at some point.

about 37,000 data points in total

Need to clean and add skipped data points to database seperately

In [49]:
data = data.reindex()
data.head(10)

  station_name  year month tmax_degC tmin_degC af_days rain_mm sun_hours
0    aberporth  1941     2       ---       ---     ---    69.1       ---
0    aberporth  1941     3       ---       ---     ---    76.2       ---
0    aberporth  1941     4       ---       ---     ---    33.7       ---
0    aberporth  1941     5       ---       ---     ---    51.3       ---
0    aberporth  1941     6       ---       ---     ---    25.7       ---
0    aberporth  1941     7       ---       ---     ---    53.9       ---
0    aberporth  1941     8       ---       ---     ---    91.8       ---
0    aberporth  1941     9       ---       ---     ---    25.5       ---
0    aberporth  1941    10       ---       ---     ---   106.2       ---
0    aberporth  1941    11       ---       ---     ---    92.3       ---

In [50]:
data.tail(10)

  station_name  year month tmax_degC tmin_degC af_days rain_mm sun_hours
0    yeovilton  2018     7      25.9      13.5       0    13.8    242.3#
0    yeovilton  2018     8      22.7      12.8       0    53.8    138.5#
0    yeovilton  2018     9      19.6       9.4       0    36.4    149.0#
0    yeovilton  2018    10      15.4       6.2       4    51.8    132.8#
0    yeovilton  2018    11      12.1       5.3       4   102.6     73.8#
0    yeovilton  2018    12      11.0       5.3       2    94.2     27.2#
0    yeovilton  2019     1       7.8       1.0      14    33.8     53.2#
0    yeovilton  2019     2      11.8       1.9      10    47.2    111.4#
0    yeovilton  2019     3      12.3       4.8       2    66.0    110.0#
0    yeovilton  2019     4      14.8       4.7       2    49.4    155.2#

## Store data in a mongodb database server

In [45]:
from pymongo import MongoClient

In [51]:
def make_lineObj(line, data):
    
    #TBD cast to correct data types before storing in database
    return {
        "station_name" : data.station_name.iloc[line],
        "year" : data.year.iloc[line],
        "month" : data.month.iloc[line],
        "tmax_degC" : data.tmax_degC.iloc[line],
        "tmin_degC" : data.tmin_degC.iloc[line],
        "af_days" : data.af_days.iloc[line],
        "rain_mm" : data.rain_mm.iloc[line],
        "sun_hours" : data.sun_hours.iloc[line] 
    }

In [58]:
def storeObj(obj):
    collection = "weather_data"
    
    client = MongoClient(host="localhost", port=27017)
    db = client.pitds_weather_data
    weather_data = db[collection]
    
    weather_data.insert_one(obj)

In [59]:
for row in range(0, len(data)):
    storeObj(make_lineObj(row, data))
    
    # report every 100 entries
    if row%1000 == 0:
        print("stored entries:", row)

stored entries: 0
stored entries: 100
stored entries: 200
stored entries: 300
stored entries: 400
stored entries: 500
stored entries: 600
stored entries: 700
stored entries: 800
stored entries: 900
stored entries: 1000
stored entries: 1100
stored entries: 1200
stored entries: 1300
stored entries: 1400
stored entries: 1500
stored entries: 1600
stored entries: 1700
stored entries: 1800
stored entries: 1900
stored entries: 2000
stored entries: 2100
stored entries: 2200
stored entries: 2300
stored entries: 2400
stored entries: 2500
stored entries: 2600
stored entries: 2700
stored entries: 2800
stored entries: 2900
stored entries: 3000
stored entries: 3100
stored entries: 3200
stored entries: 3300
stored entries: 3400
stored entries: 3500
stored entries: 3600
stored entries: 3700
stored entries: 3800
stored entries: 3900
stored entries: 4000
stored entries: 4100
stored entries: 4200
stored entries: 4300
stored entries: 4400
stored entries: 4500
stored entries: 4600
stored entries: 4700
stored entries: 4800
stored entries: 4900
stored entries: 5000
stored entries: 5100
stored entries: 5200
stored entries: 5300
stored entries: 5400
stored entries: 5500
stored entries: 5600
stored entries: 5700
stored entries: 5800
stored entries: 5900
stored entries: 6000
stored entries: 6100
stored entries: 6200
stored entries: 6300
stored entries: 6400
stored entries: 6500
stored entries: 6600
stored entries: 6700
stored entries: 6800
stored entries: 6900
stored entries: 7000
stored entries: 7100
stored entries: 7200
stored entries: 7300
stored entries: 7400
stored entries: 7500
stored entries: 7600
stored entries: 7700
stored entries: 7800
stored entries: 7900
stored entries: 8000
stored entries: 8100
stored entries: 8200
stored entries: 8300
stored entries: 8400
stored entries: 8500
stored entries: 8600
stored entries: 8700
stored entries: 8800
stored entries: 8900
stored entries: 9000
stored entries: 9100
stored entries: 9200
stored entries: 9300
stored entries: 9400
stored entries: 9500
stored entries: 9600
stored entries: 9700
stored entries: 9800
stored entries: 9900
stored entries: 10000
stored entries: 10100
stored entries: 10200
stored entries: 10300
stored entries: 10400
stored entries: 10500
stored entries: 10600
stored entries: 10700
stored entries: 10800
stored entries: 10900
stored entries: 11000
stored entries: 11100
stored entries: 11200
stored entries: 11300
stored entries: 11400
stored entries: 11500
stored entries: 11600
stored entries: 11700
stored entries: 11800
stored entries: 11900
stored entries: 12000
stored entries: 12100
stored entries: 12200
stored entries: 12300
stored entries: 12400
stored entries: 12500
stored entries: 12600
stored entries: 12700
stored entries: 12800
stored entries: 12900
stored entries: 13000
stored entries: 13100
stored entries: 13200
stored entries: 13300
stored entries: 13400
stored entries: 13500
stored entries: 13600
stored entries: 13700
stored entries: 13800
stored entries: 13900
stored entries: 14000
stored entries: 14100
stored entries: 14200
stored entries: 14300
stored entries: 14400
stored entries: 14500
stored entries: 14600
stored entries: 14700
stored entries: 14800
stored entries: 14900
stored entries: 15000
stored entries: 15100
stored entries: 15200
stored entries: 15300
stored entries: 15400
stored entries: 15500
stored entries: 15600
stored entries: 15700
stored entries: 15800
stored entries: 15900
stored entries: 16000
stored entries: 16100
stored entries: 16200
stored entries: 16300
stored entries: 16400
stored entries: 16500
stored entries: 16600
stored entries: 16700
stored entries: 16800
stored entries: 16900
stored entries: 17000
stored entries: 17100
stored entries: 17200
stored entries: 17300
stored entries: 17400
stored entries: 17500
stored entries: 17600
stored entries: 17700
stored entries: 17800
stored entries: 17900
stored entries: 18000
stored entries: 18100
stored entries: 18200
stored entries: 18300
stored entries: 18400
stored entries: 18500
stored entries: 18600
stored entries: 18700
stored entries: 18800
stored entries: 18900
stored entries: 19000
stored entries: 19100
stored entries: 19200
stored entries: 19300
stored entries: 19400
stored entries: 19500
stored entries: 19600
stored entries: 19700
stored entries: 19800
stored entries: 19900
stored entries: 20000
stored entries: 20100
stored entries: 20200
stored entries: 20300
stored entries: 20400
stored entries: 20500
stored entries: 20600
stored entries: 20700
stored entries: 20800
stored entries: 20900
stored entries: 21000
stored entries: 21100
stored entries: 21200
stored entries: 21300
stored entries: 21400
stored entries: 21500
stored entries: 21600
stored entries: 21700
stored entries: 21800
stored entries: 21900
stored entries: 22000
stored entries: 22100
stored entries: 22200
stored entries: 22300
stored entries: 22400
stored entries: 22500
stored entries: 22600
stored entries: 22700
stored entries: 22800
stored entries: 22900
stored entries: 23000
stored entries: 23100
stored entries: 23200
stored entries: 23300
stored entries: 23400
stored entries: 23500
stored entries: 23600
stored entries: 23700
stored entries: 23800
stored entries: 23900
stored entries: 24000
stored entries: 24100
stored entries: 24200
stored entries: 24300
stored entries: 24400
stored entries: 24500
stored entries: 24600
stored entries: 24700
stored entries: 24800
stored entries: 24900
stored entries: 25000
stored entries: 25100
stored entries: 25200
stored entries: 25300
stored entries: 25400
stored entries: 25500
stored entries: 25600
stored entries: 25700
stored entries: 25800
stored entries: 25900
stored entries: 26000
stored entries: 26100
stored entries: 26200
stored entries: 26300
stored entries: 26400
stored entries: 26500
stored entries: 26600
stored entries: 26700
stored entries: 26800
stored entries: 26900
stored entries: 27000
stored entries: 27100
stored entries: 27200
stored entries: 27300
stored entries: 27400
stored entries: 27500
stored entries: 27600
stored entries: 27700
stored entries: 27800
stored entries: 27900
stored entries: 28000
stored entries: 28100
stored entries: 28200
stored entries: 28300
stored entries: 28400
stored entries: 28500
stored entries: 28600
stored entries: 28700
stored entries: 28800
stored entries: 28900
stored entries: 29000
stored entries: 29100
stored entries: 29200
stored entries: 29300
stored entries: 29400
stored entries: 29500
stored entries: 29600
stored entries: 29700
stored entries: 29800
stored entries: 29900
stored entries: 30000
stored entries: 30100
stored entries: 30200
stored entries: 30300
stored entries: 30400
stored entries: 30500
stored entries: 30600
stored entries: 30700
stored entries: 30800
stored entries: 30900
stored entries: 31000
stored entries: 31100
stored entries: 31200
stored entries: 31300
stored entries: 31400
stored entries: 31500
stored entries: 31600
stored entries: 31700
stored entries: 31800
stored entries: 31900
stored entries: 32000
stored entries: 32100
stored entries: 32200
stored entries: 32300
stored entries: 32400
stored entries: 32500
stored entries: 32600
stored entries: 32700
stored entries: 32800
stored entries: 32900
stored entries: 33000
stored entries: 33100
stored entries: 33200
stored entries: 33300
stored entries: 33400
stored entries: 33500
stored entries: 33600
stored entries: 33700
stored entries: 33800
stored entries: 33900
stored entries: 34000
stored entries: 34100
stored entries: 34200
stored entries: 34300
stored entries: 34400
stored entries: 34500
stored entries: 34600
stored entries: 34700
stored entries: 34800
stored entries: 34900
stored entries: 35000
stored entries: 35100
stored entries: 35200
stored entries: 35300
stored entries: 35400
stored entries: 35500
stored entries: 35600
stored entries: 35700
stored entries: 35800
stored entries: 35900
stored entries: 36000
stored entries: 36100
stored entries: 36200
stored entries: 36300
stored entries: 36400
stored entries: 36500
stored entries: 36600
stored entries: 36700
stored entries: 36800
stored entries: 36900
stored entries: 37000